body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFFF;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #2E7D32;
    color: white;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #2E7D32;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2E7D32;
    color: white;
}

.verde {
    color: #2E7D32;
}
.amarelo {
    color: #FFC107;
}