@media screen and (min-width: 700px) {
    .galeria-desktop {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-desktop{
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
    }

    .botao-desktop {
        display: none;
    }
}