#menu-botao {
  display: none; /* some com o hamburguer no desktop */
}

nav {
  display: flex !important;
  flex-direction: row;
  position: static;
  width: auto;
  background-color: transparent;
}

nav a {
  border: none;
}

.galeria {
  grid-template-columns: repeat(3, 1fr); /* 3 colunas no desktop */
}